.navbar {
    height: 300px;
    
    background-image: url('https://media.istockphoto.com/id/564605024/photo/atlanta-georgia-skyline.jpg?s=612x612&w=0&k=20&c=Qqffb0gJ5l7IKVWnPQ6QosSJGADT9zEBaTFdEc4S34Q=');
    background-size: cover;
 
}


#brand {
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    margin-left: 20px;
    animation: 15s infinite alternate slidein;
}

@keyframes slidein {
    from {
        margin-left: 50%;

    }
    to {
        margin-left: 80%;
    }
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}

.nav-item {
    font-size: 30px;
    
}

body {
    background-image: url('https://images.unsplash.com/photo-1528459061998-56fd57ad86e3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTJ8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=600&q=60');
}

.blogpost:hover {
    opacity: 90%;
}
.card-title {
    background-image: url('https://images.unsplash.com/photo-1579492450119-80542d516179?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z3JpdHR5fGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60'); 
    padding-left: 10px;
}

.card-subtitle {
    font-size: 12px;
}

.card{
    background-color: slategray;
}

#signupform {
    background-image: url('https://images.unsplash.com/photo-1541291619332-8d0ce63863f1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGF0bGFudGElMjBza3lsaW5lfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60');
    background-size: cover;
}

footer {
    background-image: url('https://images.unsplash.com/photo-1618327907215-4e514efabd41?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8OXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60');
    background-size: cover;
}

.footer {
    font-weight: 900;
    text-shadow: 5px 5px 5px whitesmoke;
}

